.right header {
    flex: 0 0 auto;  
    margin-bottom: 20px;
     text-align: left;
}

h1{
    font-size: 55px;
    font-family: 'Bitcount Grid Double', monospace;
    margin: 0;
    padding: 0;
    color: #0077B6;
}

header h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
.grid-container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
    padding: 15px;
}

.left {
    background-color: #0077B6;
    padding: 20px;
    height: 100%;
    text-align: center;
    border-radius: 2%;
}

.right {
    position: relative;
    /* background-color: lightgreen; */
    height: 100%; 
    display: flex;
    flex-direction: column; 
    border-radius: 3%;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-style:double;
    border-width: 20px;
    border-color: white;
    border-radius: 50%;
    object-fit: cover;
}

.card:first-of-type {
    display: block;
    opacity: 1;
}

.card:target {
    display: block;
    opacity: 1;
}

.card{
    flex: 1;
    overflow-y: auto;
    display: none;
    transition: opacity 0.5s ease-in-out;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: left;
}

.social-icons {
    margin-top: 20px;
    gap: 15px;
    display: flex;
}

.social-icons a{
    display: flex;
  align-items: center;
  justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    color: white;
}

.row-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


nav {
    margin-top: 20px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;  /* vertical stack */
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;           
    align-items: center;     
    justify-content: center;  
    gap: 10px;                
    color: white;
    font-family: 'Lato', sans-serif;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li span {
    display: flex;
    align-items: center;
    justify-content: center;
}
